.scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-border-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.host-panel .label {
    -fx-text-fill: black;
}

.host-panel {
    -fx-background-color: #dcdcdc;
}

.host-panel-selected {
    -fx-border-color: silver;
    -fx-border-width: 3px;
}

.section-header-color {
    -fx-background-color: silver;
}

.main-stage-background-color {
    -fx-background-color: #ffffed;
}

.summary-panel-count-black {
    -fx-font-size: 36px;
    -fx-text-fill: black;
}

.summary-panel-count-red {
    -fx-font-size: 36px;
    -fx-text-fill: red;
}

.summary-panel-count-orange {
    -fx-font-size: 36px;
    -fx-text-fill: orange;
}

.summary-panel-count-green {
    -fx-font-size: 36px;
    -fx-text-fill: green;
}

.ssh-progress-label {
    -fx-font-size: 24px;
}

.toggle-switch:selected > .thumb-area {
    -fx-background-color: silver;
}
